In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [2]:
df_spark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
### Filter opns

## Salary of people <= 20,000

df_spark.filter((df_spark['Salary'] <= 20000) & (df_spark['Salary'] >= 15000)).select(['Name','Experience','Salary']).show()

+-------+----------+------+
|   Name|Experience|Salary|
+-------+----------+------+
|  Sunny|         4| 20000|
|   Paul|         3| 20000|
| Harsha|         1| 15000|
|Shubham|         2| 18000|
+-------+----------+------+

In [8]:
df_spark.filter(~(df_spark['Salary'] <= 20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+